img {
	margin: 0px 0px;
  max-width: 100%;
}

main {
  padding-bottom: 10.0rem;
}

.container {
  
}
.pager li {
  display: inline-block;
}
/* gallery styles */
div.gallery a {
  display: inline-block;
	width: 12.0em;
	height: 12.0em;
	margin: 0.2em;
	background-position: center center;
	background-size: cover;
}
div.gallery .gallery-sm {
	width: 8.0em;
	height: 8.0em;
}
div.gallery img {
}
.img_framed {
  margin: 0.5em;
}


/* map */
#map_canvas {
	width: 100%;
	height: 16.0em;
}

#map_canvas img {
	-webkit-box-shadow: none;
	-moz-box-shadow: 		none;
	box-shadow: 				none;
}

.image-set {
	list-style: none inside;
	padding:0px;
}

li.image-item {
	margin-bottom: 1.0em;
}

.footnotes {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.6em;
}

#footer-logo {
  max-width: 4.0rem;
  max-height: 4.0rem;
}

p a, li a, ol a {
	text-decoration: underline;
}
a.no-decoration, nav a {
	text-decoration: none;
}
/* Navigation styles */
#mainnav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 0.2rem;
  display: block;
  background-color: white;
}
#mainnav, #mainnav a {
  color: #333;
}
#mainnav .nav-item {
  font-size: 1.2rem;
  font-weight: bold;
}
.navbar-brand {
  padding: 1.0rem;
  font-size: 1.6rem;
  font-weight: 800;
}
.nav{
  display: block;
}
#mainnavlist li {
  display: block;
  clear: both;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
  width: 100%;
}
#navtoggle {
  padding: 1.0rem;
  float: right;
}
.navtogglecont {
  margin: 1.0rem;
}
@media (min-width: 768px) {
  #mainnav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 1.0rem;
    display: flex;
    justify-content: space-between;
    background-color: #00000044;
  }
  #mainnav, #mainnav a {
    color: white;
  }
  #mainnav .nav-item {
    font-size: 1.2rem;
    font-weight: bold;
  }
  #mainnavlist {
    display: inline-block;
  }
  #mainnavlist li {
    display: inline-block;
  }
  .navbar-brand {
    padding: 0rem 1.0rem;
  }
  .nav-link {
    padding: .5rem 0.4rem;
  }
  .collapse {
    display: block;
  }
  #navtoggle {
    display: none;
  }
}

a.no-decoration:hover {
	color: inherit;
}
#getting-started {
	font-size: 4.0em;
	font-family: 'VT323', monospace;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: black;
	border: 2px solid #222;
	color: #eee;
}
.site-heading, .post-heading {
  margin-top: 2.0rem;
  text-shadow: 0px 0px 0.5em #333;
}
.post-preview > .post-meta {
  font-size: 14px;
}

header {
  height: 22.5rem;
}
.intro-header .post-heading .meta,
.post-preview > .post-meta {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
}

/* add custom implementation of Bootstrap card */
.card {
}

.resultcard {
  float: left;
  width: 28%;
  margin: 0.2rem;
  font-size: 0.8em;
}

/* tutorial content */
#tutorial_content img {
  max-width:80%;
  margin:0.6em;
  border: 1px solid #666;
  margin-left: auto;
  margin-right: auto;
}
#tutorial_content .alert-info {
  padding: 1.0rem;
}
#tutorial_content .alert-info p {
  margin-top: 0px;
  margin-bottom: 1.0em;
}
#tutorial_content li {
  margin: 1.6em 0em;
}